.ad
{
color: black ;

}
.info
{
    color: darkcyan;
}
#ag
{
    color: rgb(32, 5, 154);
    font-size: larger;
}
#hh{
 color: rgb(0, 28, 154);
}
table,th,td
{
    border-collapse: collapse;
    border:1px solid black;
}
th,td
{
    padding: 0px 5px 0px 5px;
}